@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    @apply bg-primary;
}
body{
    font-family: 'Lato', sans-serif;
    padding-top: 84px;
    @apply text-body font-bold;
}

.main{
    min-height: calc(100vh - 613px);
}

.container{
    @apply w-10/12 mx-auto;
}

@media screen and (max-width: 1024px){
    .container{
        max-width: 100%;
        @apply w-full px-4;
    }
}

.bgwhite{
    @apply bg-white;
}
.bgprimary{
    @apply bg-primary;
}
.bgcyan{
    @apply bg-info;
}
.textprimary{
    @apply text-primary;
}

.bgsecondary{
    @apply bg-secondary;
}
.textsecondary{
    @apply text-secondary;
}

.bglight{
    @apply bg-light;
}
.textlight{
    @apply text-light;
}

.textwhite{
    @apply text-white;
}

/* LINKS & BUTTONS */
.btn{
    @apply inline-block px-4 py-3 text-center;
    transition: all 0.3s ease-in-out;
    font-family: 'Merriweather', serif;
}

.btn-primary{
    @apply bg-primary text-white;
}

.btn-secondary{
    @apply bg-secondary-500 text-white;
}

/* TITLES */
h1, h2, h3, h4, h5, h6{
    font-family: 'Merriweather', serif;
}
h1{
    @apply text-4xl font-bold;
}
h2{
    @apply text-3xl font-bold;
}
h3{
    @apply text-xl font-bold;
}
h4{
    @apply text-lg font-bold;
}

.title-bordered{
    @apply relative inline-block pb-7 mb-7 leading-tight;
}
.title-bordered:before{
    content: '';
    @apply absolute w-1/2 h-1 bg-secondary bottom-0 left-0;
}
.title-bordered.centered{
    @apply text-center;
}
.title-bordered.centered:before{
    @apply left-1/2 transform -translate-x-1/2;
}

@media screen and (max-width: 1024px){
    .title-bordered{
        @apply text-2xl;
    }
}

/* PARAGRAPHS */
p{
    @apply text-base mb-4;
}
p.small{
    @apply text-sm;
}

/* WEBSITE HEADER */
.website-header{
    @apply fixed top-0 left-0 w-full z-50 shadow-md;
}
.website-header .logo{
    @apply inline-block;
}
.website-header .logo img{
    height: 60px;
    width: auto;
}
.website-nav a{
    @apply inline-block relative;
    transition: all 0.3s ease-in-out;
    font-family: 'Merriweather', serif;
}
.website-nav a:before{
    content: '';
    height: 2px;
    @apply absolute w-full bg-secondary -bottom-3 left-0 opacity-0;
    transition: all 0.3s ease-in-out;
}
.website-nav a:hover, .website-nav a.active{
    @apply text-secondary;
}
.website-nav a:hover:before, .website-nav a.active:before{
    @apply opacity-100;
}
.website-mobile-nav .nav{
    @apply fixed top-0 left-0 w-full h-full bg-primary z-10;
}

.website-mobile-nav .nav .logo{
    @apply h-16;
}

.website-mobile-nav .nav a{
    @apply block text-center text-white py-4 text-2xl;
}

.website-mobile-nav #mobile-nav-close-btn{
    @apply absolute top-1 right-5 text-white text-4xl;
}

/* WEBSITE FOOTER */
.website-footer{
    @apply bg-dark text-white pt-10;
}
.website-footer .logo img{
    height: 60px;
    width: auto;
}

.list-links a{
    @apply text-white flex items-center space-x-2;
}
.list-links a:hover{
    @apply text-secondary;
}
.list-links a span{
    @apply underline;
}

/* POSTS */
.post-cover{
    @apply w-full h-52 bg-cover bg-center bg-no-repeat mb-4;
}
.post-cover.lg{
    @apply h-72;
}
.post-cover.xl{
    @apply h-96;
}
.post-thumb{
    @apply w-20 h-20 rounded-sm overflow-hidden bg-gray-300 bg-cover bg-center bg-no-repeat;
}
.post-card h2{
    transition: all 0.2s ease-in-out;
}
.post-card:hover h2{
    @apply text-secondary-500;
}

/* SPONSORS LOGOS */
/* We need to set multiply filter to each image */
.sponsors_logos img{
    filter: invert(1);
    /* Blend mode multiply here */
    mix-blend-mode: screen;
}

/* FORMS */
.form-group{
    @apply mb-4 w-full;
}

.form-control{
    @apply block w-full border border-gray-300 rounded-sm px-4 py-3;
}